$color-black: #000;
$color-white: #fff;
// URL BACK
$url-ash-back: url("./images/ash-back.jpg");
$url-clear-back: url("./images/clear-back.jpg");
$url-clouds-back: url("./images/clouds-back.jpg");
$url-drizzle-back: url("./images/drizzle-back.jpg");
$url-dust-back: url("./images/dust-back.jpg");
$url-fog-back: url("./images/fog-back.jpg");
$url-haze-back: url("./images/haze-back.jpg");
$url-mist-back: url("./images/mist-back.jpg");
$url-rain-back: url("./images/rain-back.jpg");
$url-sand-back: url("./images/sand-back.jpg");
$url-smoke-back: url("./images/smoke-back.jpg");
$url-snow-back: url("./images/snow-back.jpg");
$url-squall-back: url("./images/squall-back.jpg");
$url-thunderstorm-back: url("./images/thunderstorm-back.jpg");
$url-tornado-back: url("./images/tornado-back.jpg");
// URL FRONT
$url-ash: url("../../images/ash.jpg");
$url-clear: url("../../images/clear.jpg");
$url-clouds: url("../../images/clouds.jpg");
$url-drizzle: url("../../images/drizzle.jpg");
$url-dust: url("../../images/dust.jpg");
$url-fog: url("../../images/fog.jpg");
$url-haze: url("../../images/haze.jpg");
$url-mist: url("../../images/mist.jpg");
$url-rain: url("../../images/rain.jpg");
$url-sand: url("../../images/sand.jpg");
$url-smoke: url("../../images/smoke.jpg");
$url-snow: url("../../images/snow.jpg");
$url-squall: url("../../images/squall.jpg");
$url-thunderstorm: url("../../images/thunderstorm.jpg");
$url-tornado: url("../../images/tornado.jpg");